<section>
  <div
    class="flex flex-col justify-center items-center bg-grey md:h-[70vh] sm:h-auto"
  >
    <div
      class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto p-3"
    >
      <div class="mt-2 mb-8 w-full">
        <h2 class="px-2 text-xl font-bold text-black">Your information</h2>
        <p class="mt-2 px-2 font-light text-black">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto
          autem, commodi consequatur dolorem expedita hic id illo in incidunt
          iste laborum magnam modi molestias, nam nihil officiis optio quas
          reiciendis repellat, temporibus tenetur veritatis. Adipisci dolor ea,
          labore minima obcaecati qui sunt tenetur ut.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 px-2 w-full max-sm:grid-cols-1">
        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">First name</p>
          <p class="text-base font-medium text-navy-700">{{ data.name }}</p>
        </div>
        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">Last name</p>
          <p class="text-base font-medium text-navy-700">{{ data.lastname }}</p>
        </div>

        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">Email Address</p>
          <p class="text-base font-medium text-navy-700">{{ data.mail }}</p>
        </div>
        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">Age</p>
          <p class="text-base font-medium text-navy-700">30 years</p>
        </div>
        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">Phone number</p>
          <p class="text-base font-medium text-navy-700">+330606060606</p>
        </div>
        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
        >
          <p class="text-sm text-gray-600">Account number</p>
          <p class="text-base font-medium text-navy-700">68973953036</p>
        </div>
      </div>
    </div>
  </div>
</section>
