<footer>
  <div
    class="container w-full flex flex-col items-center justify-between px-6 mx-auto lg:flex-row h-[16.3vh] bg-red-600"
  >
    <a href="#" class="text-xl">
      <span class="text-btn font-bold text-2xl">B</span>ank<span
        class="text-btn font-bold text-2xl"
        >R</span
      >oot
    </a>

    <div
      class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0"
    >
      <a
        href="#"
        class="text-sm text-dark-grey transition-colors duration-300 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Overview
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Features
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Pricing
      </a>
      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Careers
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Help
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Privacy
      </a>
    </div>

    <p class="mt-6 text-sm text-gray-500 lg:mt-0 dark:text-gray-400">
      © Copyright 2023 Meraki UI.
    </p>
  </div>
</footer>
