
<app-navbar></app-navbar>


<section class="bg-home-bg text-black">
  <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
      <h1 class="text-5xl leading-none sm:text-6xl">Make your Finance
        Move with BankRoot
      </h1>
      <p class="mt-6 mb-8 text-lg font-light sm:mb-12">Easily open a bank account in minutes, make money management simple. Enjoy a bank account with the flexibility
      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
        <a class="px-8 py-3 text-lg rounded-md bg-btn text-white hover:opacity-75 cursor-pointer">Get started</a>
      </div>
    </div>
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <img src="assets/img/imgHome.svg" alt="image home" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
    </div>
  </div>
</section>
