<nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
  <!-- Logo -->
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img class="h-8 w-8" src="mon-logo.png" alt="Mon logo">
    <span class="font-semibold text-xl tracking-tight ml-2">Mon site</span>
  </div>
  <!-- Bouton Menu -->
  <div class="block lg:hidden">
    <button id="menu-toggle" class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white" (click)="toggleMenu()">
      <svg class="h-4 w-4 fill-current mr-2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
      <span>Menu</span>
    </button>
  </div>
  <!-- Menu -->
  <div class="hidden lg:block" [ngClass]="{'hidden': !isMenuOpen}">
    <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 mr-2">Se connecter</a>
    <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">S'inscrire</a>
  </div>
</nav>
